<!-- About Section -->
<section id="about">
    <div class="container content-section">
        <div class="row">
            <div class="col-lg-12 col-sm-12 text-center">
                <h2>Our Mission</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 col-sm-push-6 col-sm-6">
                <p>
                    At BTS, integrity, loyalty and professionalism form the core of our
                    company. We value our clients and feel honoured to help them grow their
                    businesses to their full potential.
                </p>
                <p>
                    We provide value-added services that assist our clients in running their
                    businesses efficiently and effectively. Our clients’ companies are important
                    to us and so is their success.
                </p>
            </div>
            <div class="col-lg-5 col-sm-pull-6 col-sm-6">
                <img class="img-responsive" src="img/services/about_us.jpg" alt="">
            </div>
        </div>
    </div>
</section>
<div class="bg_divider"></div>
