<section id="contact">
	<div class="container content-section">
        <div class="row">
            <div class="col-lg-12 col-sm-12 text-center">
              <h2>Contact Us</h2>
            </div>
        </div>
		<div class="row">
			<div class="col-lg-12 col-sm-12">
		        <span class="heading">Telephone Number:</span>
		        <span><a href="tel:0217068957">021 706 8957</a></span>
		        <br />

		        <span class="heading">Email:</span>
		        <span><a href="mailto:terri-ann@bts-services.co.za">terri-ann@bts-services.co.za</a></span>
		        <br />

		        <span class="heading">Address:</span>
	            <span>4 Forest Road, Fairways, Cape Town, 7800</span>
		        <iframe id="google_map" class="img-responsive" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3306.745230109003!2d18.490819999999996!3d-34.02475!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1dcc43bb3d70e449%3A0x3f190b44168b51d1!2s4+Forest+Rd%2C+Fairways%2C+Cape+Town%2C+7800!5e0!3m2!1sen!2sza!4v1420589990333" width="425" height="425" frameborder="0" style="border:0"></iframe>
			</div>
		</div>
	</div><!-- /.container -->
</section>
