<section id="services">
    <div class="container content-section">
        <div class="row">
            <div class="col-lg-12 col-sm-12 text-center">
              <h2 class="section-heading">Services</h2>
            </div>
        </div>
    </div>
    <!-- Page Content -->
    {% for post in site.posts reversed %}
      {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
        {% if thecycle == 'odd' %}
            <div class="content-section-a">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5 col-sm-6">
                            <h3 class="section-heading">{{ post.title }}</h3>
                            <div class="lead">{{ post.content }}</div>
                        </div>
                        <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                            <img class="img-responsive" src="img/services/{{ post.img }}" alt="">
                        </div>
                    </div>
                </div><!-- /.container -->
            </div><!-- /.content-section-a -->
        {% else %}
            <div class="content-section-b">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                            <h3 class="section-heading">{{ post.title }}</h3>
                            <div class="lead">{{ post.content }}</div>
                        </div>
                        <div class="col-lg-5 col-sm-pull-6 col-sm-6">
                          <img class="img-responsive" src="img/services/{{ post.img }}" alt="">
                        </div>
                    </div>
                </div><!-- /.container -->
            </div><!-- /.content-section-b -->
        {% endif %}
    {% endfor %}
</section>
<section id="request_quote">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-12 text-center">
              <h2 class="section-heading">Request a Quote</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-sm-12">
                <form id="request_quote_form" method="POST" action="https://mandrillapp.com/api/1.0/messages/send.json" class="question">
                    <label id="contact_detail_label">Email / Telephone Number</label>
                    <input id="contact_detail" type="text" class="contact_detail" name="contact_detail" /><br>
                    <div class="clearfix spacer"></div>
                    <label>What would you like to know?</label>
                    <textarea id="question_content" name="question_content"></textarea>
                    <div class="clearfix spacer"></div>
                    <button class="submit">Submit Request</button>
                </form>
            </div>
        </div>
    </div>
</section>
